{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    Making something from nothing
    <ol>
        <li>Tracker</li>
        <li>
            2,000 USD Target
            <ol>
                <li>Freelnacing profiles</li>
                <li>Gettting the money</li>
            </ol>
        </li>
    </ol>
{% endblock %}
